<ion-header >
 
   
 


  <ion-toolbar color = "primary">
    <ion-button id = "backbutton" href = "/"> Back</ion-button>
    <ion-title>programs</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="center">
  <ion-button id = "button1" href ="/info"><img src="https://avatars1.githubusercontent.com/u/15455?s=280&v=4">  </ion-button>
  <ion-button href = "/info">CLASS</ion-button>
  <ion-button href = "/info">CLASS</ion-button>
  <ion-button href = "/info">CLASS</ion-button>
  <ion-button href = "/info">CLASS</ion-button>
  <ion-button href = "/info">CLASS</ion-button>
  <ion-button href = "/info">CLASS</ion-button>
  <ion-button href = "/info">CLASS</ion-button>
  <ion-button href = "/info">CLASS</ion-button>
  <ion-button href = "/info">CLASS</ion-button>
  
</div>
</ion-content>

<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button href ="/tabs/tab1">
      <!-- <ion-icon name="triangle"></ion-icon> -->
      <ion-label >Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/tab2">
      <!-- <ion-icon name="ellipse"></ion-icon> -->
      <ion-label>Uploads</ion-label>
    
    </ion-tab-button>
  
   
  </ion-tab-bar>

</ion-tabs>
