ion-button {
    width: 172px;
height: 118px;
--background: #DDDDFF;
color: #000000;
}

#backbutton{
    width: auto;
    height: auto;
    --background: #DDDDFF;
color: #000000;
}

#toolbar {
    --background: #444488;

}