#mathButton {
    color: red;
width: 172px;
height: 118px;
}

ion-button {
    width: 172px;
height: 118px;
--background: #DDDDFF;
color: #000000;
}

ion-content{
    background-color: #444488;
}

#toolbar {
    --background: #444488;
    margin-top: -40px;

    height: 70px;

}

.toolbar-container {

    --background: #444488;
}

ion-title {
    --background: #444488;
}

#title {
    --background: #444488;
    color: white ;
}

ion-title {
    color: white;
}





