<ion-header [transparent]="true">
  <ion-toolbar>
    <ion-title>
      categories

    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header collapse="condense">
  <ion-toolbar id = "toolbar">
    <ion-title size="large">FreeThink</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
  <ion-button id="MathButton" href = "/programs">Math</ion-button>
  <ion-button id="CodingButton" href = "/programs">Coding</ion-button>
  <ion-button id="ArtButton" href = "/programs">Art</ion-button>
  <ion-button id="MusicButton" href = "/programs">Music</ion-button>
  <ion-button id="SingingButton" href = "/programs">Singing</ion-button>
  <ion-button id="DancingButton" href = "/programs">Dancing</ion-button>
  <ion-button id="EnglishButton" href = "/programs">English</ion-button>
  <ion-button id="PhilosophyButton" href = "/programs">Philosophy</ion-button>
  
</ion-content>
