#mathButton {
    color: red;
width: 172px;
height: 118px;
}

ion-button {
    width: 172px;
height: 118px;
--background: #DDDDFF;
color: #000000;
}

ion-content{
    background-color: #444488;
}

#toolbar {
    --background: #444488;

}

toolbar-container {

    --background: #444488;
}

ion-title {
    --background: #444488;
}



