<ion-header>
  
  <ion-toolbar color = primary>
    <ion-button id = "backbutton" href = "/programs"> Back</ion-button>
    <ion-title>info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button > </ion-button>
  <ion-button  > </ion-button>
  <ion-button > </ion-button>
  <ion-button  > </ion-button>
  <ion-button  > </ion-button>
  <ion-button  > </ion-button>
  <ion-button  > </ion-button>
  <ion-button  > </ion-button> -->

  <ion-card>
    <ion-card-header> Program Details</ion-card-header>
    <ion-card-content>
      <ul>
        <li>Start Time:</li>
        <li>Length:</li>
        <li>Location:</li>
        <li>Categories:</li>
        <li> Description:</li>
      </ul>  
      
      
    </ion-card-content>
  </ion-card>
</ion-content>
