<ion-header>
  
  <ion-toolbar color = primary>
    <ion-button id = "backbutton" href = "/programs"> Back</ion-button>
    <ion-title>info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button > </ion-button>
  <ion-button  > </ion-button>
  <ion-button > </ion-button>
  <ion-button  > </ion-button>
  <ion-button  > </ion-button>
  <ion-button  > </ion-button>
  <ion-button  > </ion-button>
  <ion-button  > </ion-button> -->

  <ion-card>
    <ion-card-header> Program Details</ion-card-header>
    <ion-card-content>
      <img src="https://avatars1.githubusercontent.com/u/15455?s=280&v=4">
      <ul>
        <li>Start Time: N/A</li>
        <li>Length: 2 weeks</li>
        <li>Location: Online </li>
        <li>Categories: Math</li>
        <li> Description: self pace corse on basic math</li>
      </ul>  
      
      
    </ion-card-content>
  </ion-card>
</ion-content>
