<ion-header>
  <ion-button href = "/program-length">Back</ion-button>
  <ion-toolbar>
    <ion-title>User_Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="rectangles"> 
      <div  id="rectangle1"></div>
      <div  id="rectangle2"></div>
      <div  id="rectangle3"></div>
      <div  id="rectangle4"></div>
    </div>
    <h2>Upload a Program</h2>
    <div id="progress-bar">
    
      <div class="circles" id='circleOne'><h1>1</h1></div>
      <div class="circles" id='circleTwo'><h1>2</h1></div>
      <div class="circles" id='circleThree'><h1>3</h1></div>
      <div class="circles" id='circleFour'><h1>4</h1></div>
      <div class="circles" id='circleFive'><h1>5</h1></div>
    </div>
    <h2 id = "User_Name">first name:</h2> <input id = "input" type="text"><br>
    <h2 id = "User_last_name">last name:</h2> <input id = "input" type="text"><br>
    <ion-button href = "/complete">Next</ion-button>
    
    
</ion-content>
