h1 {
    position: absolute;
    top: 40px;
    
}

#progress-bar{
    display: flex;
    justify-content: space-between;
    width: 100%
}
.rectangles{
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: absolute;
    z-index: 0;
    top: 70px;
    left: 5px
}
.circles{
    width: 40px;
    height: 40px;
    background: #8888FF;
    border-radius: 50%;
    border: 3px solid white;
    z-index: 1;
    padding-left: 8px;
}
#rectangle1{ 
    width: 150px;
    height: 15px;
    background: #8888FF;
}
#rectangle2{ 
    width: 190px;
    height: 15px;
    background:#8888FF;
}
#rectangle3{ 
    width: 135px;
    height: 15px;
    background:#8888FF;
}
#rectangle4{ 
    width: 150px;
    height: 15px;
    background: grey;
}
#circleOne{
    color: white;
    text-align: center;
    font-size: 10px;
}
#circleTwo{
    color: white;
    text-align: center;
    font-size: 10px;  
}
#circleThree{
    color: white;
    text-align: center;
    font-size: 10px; 
}
#circleFour{
    color: white;
    text-align: center;
    font-size: 10px;   
}
#circleFive{
    color: white;
    text-align: center;
    font-size: 10px; 
}