<ion-header>
  <ion-button href = "/tabs/tab2">Back</ion-button>
  <ion-toolbar>
    <ion-title>Uploads</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>

<div class="rectangles"> 
  <div  id="rectangle1"></div>
  <div  id="rectangle2"></div>
  <div  id="rectangle3"></div>
  <div  id="rectangle4"></div>
</div>
<h2>Upload a Program</h2>
<div id="progress-bar">

  <div class="circles" id='circleOne'><h1>1</h1></div>
  <div class="circles" id='circleTwo'><h1>2</h1></div>
  <div class="circles" id='circleThree'><h1>3</h1></div>
  <div class="circles" id='circleFour'><h1>4</h1></div>
  <div class="circles" id='circleFive'><h1>5</h1></div>
</div>
<label for="categories">Choose a categorie:</label>
 <select name="categories" id="categories">
  <option value="Math">Math</option>
  <option value="Art">Art</option>
  <option value="Music">Music</option>
  <option value="English">English</option>
</select>
<h2 id = "Description">Description:</h2> <input id = "input" type="text"><br>
<h2 id = "Location">Location:</h2> <input id = "input" type="text"><br>
<ion-button href = "/program-length">Next</ion-button>
</ion-content>
